services:
    - XUnitLint\Rule\Service\AssertionMethodService
rules:
    - XUnitLint\Rule\Conditional\BooleanOrRule
    - XUnitLint\Rule\Conditional\IfRule
    - XUnitLint\Rule\Conditional\ForEachRule
    - XUnitLint\Rule\Conditional\WhileRule
    - XUnitLint\Rule\Conditional\BooleanOrRule
    - XUnitLint\Rule\ObscureTest\AssertionRouletteRule
    - XUnitLint\Rule\ObscureTest\AssertionRouletteNonStaticRule
    - XUnitLint\Rule\AssertionMessage\AssertNeedsMessageRule
